*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 53px;
}

.title {
    color: #f9bf3b;
    font-size: 41px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 41px;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 80px;
}
.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px;
    font-family: 'Roboto Light';
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;    
}

.promo .promo_text span {
    font-family: 'Roboto - Bold';
    font-weight: 700;
    color: #F9BF3B;
    }

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);

    font-family: 'Roboto Condensed';
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-family: 'Roboto-Thin';

    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.waiting {
    height: 604px;
    padding: 85px 0 75px 0;
    background: #EFEFEF;
}

.waiting .waiting_header {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    margin: 0 auto;
    background: #F9BF3B;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

